---
http_interactions:
- request:
    method: get
    uri: https://rickandmortyapi.com/api/character/7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23f-5B8N0z26AdjI4XpCbU59TJ26m2s"
      X-Nf-Request-Id:
      - 4e51aa27-ac81-4c85-8912-b3b92836309c-18079879
    body:
      encoding: UTF-8
      string: '{"id":7,"name":"Abradolf Lincler","status":"unknown","species":"Human","type":"Genetic
        experiment","gender":"Male","origin":{"name":"Earth (Replacement Dimension)","url":"https://rickandmortyapi.com/api/location/20"},"location":{"name":"Testicle
        Monster Dimension","url":"https://rickandmortyapi.com/api/location/21"},"image":"https://rickandmortyapi.com/api/character/avatar/7.jpeg","episode":["https://rickandmortyapi.com/api/episode/10","https://rickandmortyapi.com/api/episode/11"],"url":"https://rickandmortyapi.com/api/character/7","created":"2017-11-04T19:59:20.523Z"}'
  recorded_at: Thu, 19 Dec 2019 13:32:57 GMT
recorded_with: VCR 5.0.0
