---
http_interactions:
- request:
    method: get
    uri: https://rickandmortyapi.com/api/character/7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23f-5B8N0z26AdjI4XpCbU59TJ26m2s"
      X-Nf-Request-Id:
      - b826f404-b46e-41f2-8620-fd013fea6527-27422988
    body:
      encoding: UTF-8
      string: '{"id":7,"name":"Abradolf Lincler","status":"unknown","species":"Human","type":"Genetic
        experiment","gender":"Male","origin":{"name":"Earth (Replacement Dimension)","url":"https://rickandmortyapi.com/api/location/20"},"location":{"name":"Testicle
        Monster Dimension","url":"https://rickandmortyapi.com/api/location/21"},"image":"https://rickandmortyapi.com/api/character/avatar/7.jpeg","episode":["https://rickandmortyapi.com/api/episode/10","https://rickandmortyapi.com/api/episode/11"],"url":"https://rickandmortyapi.com/api/character/7","created":"2017-11-04T19:59:20.523Z"}'
  recorded_at: Fri, 20 Dec 2019 22:01:24 GMT
recorded_with: VCR 5.0.0
